spring:
  application:
    name: eCommerce Backend

  h2:
    console:
      enabled: true
      path: /h2-console

  datasource:
    url: jdbc:h2:mem:ecommerce_db
    driver-class-name: org.h2.Driver
    username: admin
    password: admin

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  flyway:
    enabled: false

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

# If you want to use Postgres in a specific profile, create application-postgres.yaml with the postgres settings.
